### NetBeans ###
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
**/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
